<div class="container">

  <div class="page-header">
    <h1 style="color: #1a191e;">How To Mine</h1>
  </div>

  <div  class="col-md-12" style="border-bottom: 1px solid #eee; padding-bottom: 15px; margin-bottom: 15px;">
    <div class="col-md-6">
      <div class="page-header">
        <h3 style="color: #1a191e;">lolMiner</h3>
      </div>
      <p style="color: #1a191e;" class="lead">In order to mine etchash you need   
        <a  style="color: #1a191e;"href="https://github.com/Lolliedieb/lolMiner-releases/releases" rel="nofollow" target="_blank">lolMiner</a> v1.12+
      </p>
      <p ><code>./lolMiner --pool {{config.StratumHost}}:{{config.StratumPort}} --user [YOUR_ETC_ADDRESS] -c ETC {{if (equals config.Network 'mordor') "--ecip1099-activation 84"}} --ethstratum=ETHPROXY</code></p>
      <dl class="dl-horizontal">
        <dt style="color: #1a191e;">YOUR_ETC_ADDRESS</dt>
        <dd style="color: #1a191e;">This is your address for payouts, generate one with core-geth, or mine directly to exchange like
          <a href="http://bittrex.com" rel="nofollow" target="_blank">Bittrex</a>.<br/>
          <strong>Example:</strong> <code>0xd92fa5a9732a0aec36dc8d5a6a1305dc2d3e09e6</code>.
        </dd>
      </dl>
      <p>
        <strong style="color: #1a191e;">Full example:</strong>
        <code>./lolMiner --pool {{config.StratumHost}}:{{config.StratumPort}} --user 0xd92fa5a9732a0aec36dc8d5a6a1305dc2d3e09e6 -c ETC {{if (equals config.Network 'mordor') "--ecip1099-activation 84"}} --ethstratum=ETHPROXY</code>.<br/>
      </p>
    </div>


  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <p class="text-justify">
        <h4 style="color: #1a191e;">Advice</h4>
        <p style="color: #1a191e;">CPU mining is not recommended.</p>
        <h4 style="color: #1a191e;">Terms of Service</h4>
        <p style="color: #1a191e;">By using the pool you accept all possible risks related to experimental software usage.<br/>
           Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
        </p>
      </p>
    </div>
  </div>

</div>
